<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anovelmous.app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AnovelmousApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Anovelmous" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.novels.NovelSelectActivity"
            android:label="@string/title_activity_novel_select" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anovelmous.app.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.chapters.ChapterSelectActivity"
            android:label="@string/title_activity_chapter_select" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anovelmous.app.ui.novels.NovelSelectActivity" />
        </activity>
        <activity
            android:name=".ui.reading.ReadingActivity"
            android:label="@string/title_activity_read" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anovelmous.app.ui.chapters.ChapterSelectActivity" />
        </activity>
    </application>

</manifest>
